body {
    background-color: #e6ffe6;
    font-family: "Courier New", monospace;
    margin: 0;
}

header {
    background-color: #2e8b57;
    color: white;
    padding: 30px; 
    text-align: center;
    border-bottom: 5px solid #145a32;
}

nav {
    background-color: #66cc66;
    padding: 15px;
}

nav ul {
    list-style: square; 
}

section {
    padding: 30px;
    background-color: #f0fff0;
    margin: 20px;
    border-radius: 15px; 
}

footer {
    background-color: #2e8b57;
    color: white;
    text-align: center;
    padding: 15px;
}